# Compiled files
/target/
**/*.rs.bk

# Backup and IDE files
**/*.swp
**/*.swo
**/*.bak
*.tmp

# IntelliJ / JetBrains
.idea/
*.iml

# VS Code
.vscode/

# Mac and Linux
.DS_Store
*.log

# Binaries
*.exe
*.out
*.o

# Distribution files
dist/*

# Configuration files
config/*

# Logs
logs/*

